---
import Icon from "./ui/Icon/Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>AI Engineering</h2>
    <p>
      Deep learning model development with YOLOv8 for object detection, 
      AlexNet for image classification, and multimodal AI systems. Specialized 
      in computer vision, NLP, and achieving 90%+ accuracy in production models.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Data Engineering</h2>
    <p>
      End-to-end data pipeline development with FastAPI, Docker, PostgreSQL. 
      Expert in web scraping automation, feature engineering, data labeling 
      systems, and handling large-scale datasets with 84%+ ML accuracy.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="rocket-launch"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Machine Learning Operations</h2>
    <p>
      Time series analysis, behavior modeling, and classification systems using 
      Random Forest. Cross-validation, data imbalance handling, hyperspectral 
      image processing, and RESTful API development . for ML deployment.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 2rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-300);
    max-width: 35rem;
  }

  @media (min-width: 60em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
